main{
    width: 100dvw;
    height: 100dvh;
    display: flex;
    justify-content: center;
    align-items: center;
    .loginContainer{
        width: 100%;
        height: 100%;
        max-width: 500px;
        max-height: 400px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        h1{
            font-size: 2rem;
            color: var(--text-color);
            text-align: center;
        }
        .loginForm{
            width: 100%;
            height: 100%;
            display: flex;
            justify-content: space-around;
            align-items: center;
            flex-direction: column;
            app-text-input,app-password-input,button{
                width: 100%;
                height: 100%;
                max-width: 400px;
                max-height: 50px;
            }
        }
        .loginFooter{
            width: 100%;
            height: auto;
            display: flex;
            align-items: center;
            flex-direction: column;
            margin-top: 20px;
            a{
                color: var(--text-color);
                text-decoration: none;
                font-size: 1rem;
                &:hover{
                    text-decoration: underline;
                }
            }
        }
    }
}