.example-container mat-form-field + mat-form-field {
    margin-left: 8px;
  }
  mat-form-field{
    width: 100%;
    height: auto;
  }

  ::ng-deep .mdc-text-field--outlined.mdc-text-field .mdc-text-field__input{
    font-size: 14px;
  }